/* NAV BAR STYLES */
.navBar ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-right: 2vw;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  color: #724169;
}
.navBar li{
  font-size: 2.5vh;
}
.navBar a {
  text-decoration: none;
  color: #724169;
}
.navBar a:hover{
  color: #D2A0DD;
}

/* HOME PAGE STYLES */
body{
  background-image: url("./images2/ethicalTraveler.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
}
.homeTotal{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.homeHeader{
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  margin-top: -5vh;
}
.homeHeader h2{
  font-size: 6vh;
  color: #724169;
}
.homeHeader h4{
  font-size: 4vh;
  color: #D2A0DD;
}
#homePagePic{
  width: 100vw;
  height: auto;
}
#logo {
  height: 15vh;
  width: auto;
}

#glowSlogan{
  height: 80vh;
  width: auto;
  margin-top: -20vh;
}
#homeSummary{
  margin-top: -18vh;
  color: #FEF9FF;
}

/* form css starts here */
#chickenwings {
  margin-top: -15px;
  display: flex;
  justify-content: space-around;
  /* font-size: 3vh; */
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #D2A0DD; */
  /* background-color: #724169; */
  /* background-color: rgb(241, 235, 247); */
  background-color: white;
  opacity: 100%;
  align-items: center;
}
#cheeseburgers {
  width: 250px;
  height: 70px;
  /* margin-left: 1vw; */
  background-color: white;
  /* box-shadow: 0 2px 2px 0; */
  /* border-radius: 5px; */
  border: grey 1px solid;
  text-transform: uppercase;
  font-size: 1.3vh;
}


#formMessage {
  width: 250px;
  height: 70px;
  /* margin-left: 1vw; */
  background-color: white;
  /* box-shadow: 0 2px 2px 0; */
  /* border-radius: 5px; */
  text-transform: uppercase;
  font-size: 1.3vh;
  /* margin: 0 0 0 -.2px; */
  border: grey 1px solid;
}
#formButton {
  height: 75px;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  /* border: 1px solid #724169; */
  border: none;
  /* color: black; */
  color: white;
  /* background-color: lightblue; */
  /* background-color: white; */
  background-color: #724169;
  /* box-shadow: 0 3px 3px 0; */
  /* border-radius: 5px; */
  text-transform: uppercase;
  margin-right: 10px;
}
::placeholder {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
}
input[type="text"] {
  font-family: Montserrat;
  font-size: 20px;
}
textarea[type="text"] {
  font-family: Montserrat;
  font-size: 20px;
}
#chickenwings label {
  color: #724169;
}
#formStuff {
  /* background-color: #724169; */
  padding: 20px;
  /* border: 1px black ; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.messageLabel {
  display: flex;
  align-items: center;
}
#formIntro {
  font-size: 2.5vh;
  text-align: center;
  width: 500px;
}
@media (max-width: 1000px){
  #chickenwings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #724169; */
  }
  .formDiv1{
    margin-bottom: 10px;
  }
  .formDiv2{
    margin-bottom: 10px;
  }
  .messageLabel{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  /* #formIntro{
    width: 300px;
  } */
  #formStuff{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    align-self: center;
  }
}


/* DESTINATIONS PAGE STYLES */


