

/* @import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
body {font-family: 'PT Sans', sans-serif;}
ul {
  display:block;
  width:170px;
  margin:0;
  list-style: none;
  margin-left: -3vw;
  margin-top: 5vh;
}
li {
  padding:5px 0;
  cursor:pointer;
  text-indent:-7px;
  border-left:2px solid red;
}
  li:before {
  content:"\25CF";
  font-size:20px;
  vertical-align:middle;
  color:orangered;
}
  li:hover:before {
  color:#eb2800;
}
  li a {
    overflow:hidden;
    display:inline-block;
    color:orangered;
    text-indent:-150px;
    width:100px;
    text-decoration:none;
    text-transform:uppercase;
    padding:5px;
    transition:0.2s ease;
    margin:2px 0 0 -7px;
  }
li:hover a {
  background-color:#eb2800;
  color:#fff;
  text-align:center;
  text-indent:0;
} */

/* NAV BAR STYLES */
.navBar ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-right: 2vw;
  font-family: 'Cabin Condensed', sans-serif;
}

/* HOME PAGE STYLES */
body{
  background-image: url("./images2/ethicalTraveler.jpg");
  background-size: cover;
}
.homeTotal{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.homeHeader{
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}
#homePagePic{
  width: 100vw;
  height: auto;
}
#glowSlogan{
  margin-top: -22vh;
}
/* .CarDiv{
  height: auto;
  width: 60vw;
  margin-left: 20vw;
  margin-top: -70px;
} */

/* DESTINATIONS PAGE STYLES */


